<div class="flex mt-8 justify-center">
  <mat-card class="shadow w-4/12">
    <mat-card-header>
      <mat-card-title>Comment Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="p-8">
        <p class="text-gray-700"><b>ID:</b> {{ detailedFeedback.id }}</p>
        <p class="text-gray-700">
          <b>Comment:</b> {{ detailedFeedback.comment }}
        </p>

        <p class="text-gray-700">
          <b>UserId:</b> {{ detailedFeedback.userId }}
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
