<div class="flex mt-8 justify-center">
  <mat-card class="shadow w-4/12">
    <mat-card-header>
      <mat-card-title>User Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="p-8">
        <p class="text-gray-700"><b>ID:</b> {{ detailedUser.id }}</p>
        <p class="text-gray-700">
          <b>First Name:</b> {{ detailedUser.firstName }}
        </p>
        <p class="text-gray-700">
          <b>Last Name:</b> {{ detailedUser.lastName }}
        </p>
        <p class="text-gray-700">
          <b>User Name:</b> {{ detailedUser.username }}
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
